@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* burada google fontslardan press 2 p to startı import ettik. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* burada herseyi sifirliyoruz. box-sizing: yaparak herseyi rahatca yapabiliriz;   */
  /* box sizing border box dersek bir kutu olusturuyoruz ve disina tasmadan herseyi yapabileyim */
}
body {
  color: white;
  background-color: #2d3436;
  font-family: "Press Start 2P";
}
header {
  /* header kutusu bir parent dir. (header)buna gore position alacagiz. parent relativedir. parent a gore sekil al diyecegiz. */
  position: relative;
  /* yuksekligi veririz. ust kisim zaten headera aitti. weight vermemize gerek yok. */
  height: 300px;
  border-bottom: 7px solid #eee;
}
h1 {
  position: absolute; /* burada posizyonunu headera gore aldik.*/
  width: 100%;
  text-align: center;
  top: 50%;
}
.aralik {
  position: absolute;
  right: 15px;
  top: 20px;
}
.btn {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 30px;
  font-family: inherit; /*bouton disindakiler atadigimiz font family den butonlarda yararlansin diye*/
  padding: 20px 25px;
  cursor: pointer;
  background-color: #eee;
}
.question {
  position: absolute;
  left: 50%;
  width: 180px;
  background-color: #eee;
  color: #333;
  bottom: 0;
  font-size: 60px;
  padding: 25px;
  text-align: center;
  transform: translate(-50%, 50%);
}
